<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Cuando llegó</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<section>
    <header>
        <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
            <div class="flex items-center flex-shrink-0 text-white mr-6">
                <img class="header__logo" src="{{ url_for('static', filename='bus.svg') }}" width="54" height="54">
                <span class="font-semibold text-xl tracking-tight">Cuando llegó</span>
            </div>
        </nav>
    </header>
    <div class="content">
        <div id="sidebar">
            <span id="sidebar--btn"><</span>
            <div id="sidebar--content">
                <div class="sidebar__content">
                    <pre id="query"></pre>
                </div>
                <div class="sidebar__content">
                    <pre id="response"></pre>
                </div>
            </div>
        </div>
        <div class="container mx-auto px-4 py-16">
            <div class="py-12">{% block precontent %}{% endblock %}</div>
            <ul class="flex border-b">

                {% set navbar_menus = [
                ('/', 'home', 'Home'),
                ('/paradas-de-colectivo', 'paradas-de-colectivo', 'Paradas de colectivo'),
                ('/lineas', 'lineas', 'Lineas'),
                ] -%}
                {% set active_page = active_page|default('home') -%}
                {% for href, id, caption in navbar_menus %}
                    <li class="{% if id == active_page %} -mb-px {% endif%}mr-1">
                        <a class="bg-white inline-block py-2 px-4 font-semibold {% if id == active_page %} border-l border-t border-r rounded-t text-blue-700 {% else %} text-blue-500 hover:text-blue-800 {% endif%}" href="{{ href }}">
                            {{ caption }}
                        </a>
                    </li>
                {% endfor %}

            </ul>
            <div class="py-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</section>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">
$(function() {
    $('#sidebar--btn').bind('click', function() {
        $(this).toggleClass('active')
        $('#sidebar').toggleClass('active')
    });
});

</script>
{% block scripts %}{% endblock %}
