{% set active_page = "lineas" %}
{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Cuadro de Horarios{% endblock %}</h1>
{% endblock %}

{% block precontent %}
    <h2 class="text-center text-5xl text-teal-500">Cuadro de Horarios - Cuando llegó</h2>
    <h2 class="text-center text-2xl text-teal-500">Informes por cuadro de horario</h2>
{% endblock %}

{% block content %}
<h3 class="text-4xl text-black-500 mb-5">Cuadro de Horarios</h3>

<table class="table-auto" id="#cuadrohorario">
  <thead>
    <tr>
      <th class="px-4 py-2">Linea</th>
      <th class="px-4 py-2">Parada</th>
      <th class="px-4 py-2">Horario cuadro de horario</th>
      <th class="px-4 py-2">Horario empírico</th>
      <th class="px-4 py-2">Delta tiempo</th>
    </tr>
  </thead>
  <tbody id="tbody">
  </tbody>
</table>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/cuadrohorario.js') }}"></script>
{% endblock %}

