{% set active_page = "paradas-de-colectivo" %}
{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Paradas de colectivo{% endblock %}</h1>
{% endblock %}

{% block precontent %}
    <h2 class="text-center text-5xl text-teal-500">Paradas de colectivo - Cuando llegó</h2>
    <!--<h2 class="text-center text-2xl text-teal-500">Informes por lineas de colectivo</h2>-->
{% endblock %}

{% block content %}
<div class="flex flex-wrap -mx-3 mb-5">
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="sLineas">
            Linea de colectivo
        </label>
        <div class="relative">
            <select class="search_result absolute bg-gray-200 border border-gray-200 text-gray-700 inset-y-30 right-0 left-0 py-3 px-4 rounded w-full" id="sLineas">
                <option selected disabled>Seleccionar linea de colectivo</option>
            </select>
        </div>
    </div>

    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="calle">
            Calle
        </label>
        <div class="relative">
            <select class="search_result absolute bg-gray-200 border border-gray-200 text-gray-700 inset-y-30 right-0 left-0 py-3 px-4 rounded w-full" id="calle">
                <option selected disabled>Seleccionar linea primero</option>
            </select>
        </div>
    </div>

    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="calleInterseccion">
            Calle intersección
        </label>
        <div class="relative">
            <select class="search_result absolute bg-gray-200 border border-gray-200 text-gray-700 inset-y-30 right-0 left-0 py-3 px-4 rounded w-full" id="calleInterseccion">
                <option selected disabled>Seleccionar parada primero</option>
            </select>
        </div>
    </div>

    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="paradaInput">
            Parada
        </label>
        <input value="" name="parada" type="number" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="paradaInput" />
    </div>

</div>
<div class="flex justify-end mb-7">
    <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded uppercase" id="consultar">
      Consultar
    </button>
</div>

<div class="w-full">
    <p class="text-xl" id="arrive"></p>
</div>

<canvas id="myChart" width="400" height="400"></canvas>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/parada_getter.js') }}"></script>
<script src="{{url_for('static', filename='js/cuandollega.js') }}"></script>
{% endblock %}
